// Font sizes
$regular-font-size: 12px;
$pagination-font-size: 16px;
$title-font-size: 21px;

// Colors
$body-bg: #dbdbdb;
$footer-bg: #a7a7a7;
$black: #000;
$white: #fff;
$blue: #512387;
$purple: #613B91;
$gray: #918E8E;

// Breakpoints

$tablet: 768px;
$desktop: 992px;